/*  Colores para alternar
#a55d07;
#896BB2;
*/


:root {
    --color01: #896BB2;
    --box-shadow: 10px 10px 20px rgba(29, 29, 29, 0.188);
}

body {
    font-family:  Verdana, 'Segoe UI', Tahoma, Geneva,sans-serif;
}

div#contenedor {
    min-width: 320px;
    max-width: 480px;
    width: 100vw;
    height: 85vh;
    position:  relative;
}

header {
    padding: 1em;
}


main#contenido {
    padding: 5%;
    width: 85%;
    margin: 6% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    max-height: 80%;
    margin: 0 auto;
}

h1 {
    font-size: calc(1.375rem + 1.5vw);
    color: var(--color01);
    text-align: center;
    margin: .5em 1em 2em 1em;
}

p#mostraAcudit {
    font-size: 1.8em;
    color: white;
    margin: 0;
    padding: 0% 5% 5% 5%;
    margin: 1.5em 0 4em 1.8em;
    font-size: 1.2em;
}

button#nouAcudit {
    background-color: var(--color01);
    color: white;
}

button#nouAcudit:hover {
    background-color: white;
    color: var(--color01);
    border: 1px solid var(--color01);
    font-weight: bold;
    box-shadow: 5px 5px 10px #4545453d;
}

.valora h4 {
    font-size: 18px;
    font-weight: bold;
    color: var(--color01);
    padding: 10px;
    background-color: #ffffff;
    margin: 2em auto 10px auto;
    border-radius: 24px;
    border: solid 2px var(--color01);
    box-shadow: 0 -8px 0 white;
    margin-bottom: 20px;
}

.valora {
    text-align: center;
}

.valora p {
    margin-top: 1em;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    width: 300px;
    margin: 0 auto;
    padding-left: 0;
}


li {
    text-decoration: none;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li img {
    width: 90px;
}
li img:hover {
    transform: scale(125%) rotate(-30deg);
}

.destaca {
    font-size: 130%;
    font-weight: bold;
    color: var(--color01);
}

#mostraTemps {
    font-size: 1em;
    display: flex;
    color: var(--color01);
    align-items: flex-end;
    font-size: .9em;
    padding: 0 0.5em;
    flex-wrap: wrap;
    column-gap: 40px;
    text-align: center;
    align-content: center;
    justify-content: center;
    line-height: 0.7;
}

#mostraTemps a {
    color: var(--color01);
    font-size: 1em;
    text-decoration: none;
} 

#mostraTemps a:hover {
    font-weight: bold;
}

div#fondoSvg {
    position: absolute;
    top: 6%;
    left: 0%;
    height: 60%;
    width: 100%;
    z-index: -1;
    margin: 0 auto;
}

.svg01_fondo01 {
   background-image: url(../img/fons_css/blob_896BB2_01.svg);
   background-repeat: no-repeat;
   background-size: 107%;
   background-position: 45% 49%;
}

.svg02_fondo01 {
    background-image: url(../img/fons_css/blob_896BB2_02.svg);
    background-repeat: no-repeat;
    background-size: 19%;
    background-position: -6% 49%;
 }
 .svg01_fondo02 {
    background-image: url(../img/fons_css/blob_a55d07_01.svg);
    background-repeat: no-repeat;
    background-size: 107%;
    background-position: -36% 210%;
 }
 
 .svg02_fondo02 {
     background-image: url(../img/fons_css/blob_a55d07_02.svg);
     background-repeat: no-repeat;
     background-size: 15%;
     background-position: -2% 44%;
  }

@media screen and (min-width: 480px) {
    div#contenedor {
        min-width: 320px;
        max-width: 480px;
    }

    main#contenido {
        max-height: 80%;
        margin: 0 auto;
    }

    p#mostraAcudit {
        margin: 1.5em 0 4em 1.8em;
        font-size: 1.2em;
    }

    #mostraTemps {
        font-size: .9em;
        padding: 0 0.5em;
        flex-wrap: wrap;
        column-gap: 40px;
        text-align: center;
        align-content: center;
        justify-content: center;
        line-height: 0.7;
    }

}

@media screen and (min-width: 768px) {
    div#contenedor {
        max-height: 90vh;
        max-width: 768%;
    }

    main#contenido {
      max-width: 663px;
    }

    p#mostraAcudit {
        margin: 1em;
        font-size: 1.6em;
    }

    button#nouAcudit {
        margin-bottom: 35px;
    }

    div#fondoSvg {
        height: 75%;
        background-size: 709px;
        background-position: 49% 33%;
    }

    .valora {
        max-width: 60%;
        margin: 0 auto;
    }
    .valora h4 {
        margin-bottom: 55px;
    }

    .valora button {
        width: 60%;
    }

    .svg01_fondo01 {
        background-size: 97%;
        background-position: 49% 37%;
     }

     .svg01_fondo02 {
        background-size: 105%;
        background-position: 34% 78%;
     }

     .svg02_fondo01 {
        background-size: 108px;
        background-position: 12% 46%;
     }

     .svg02_fondo02 {
        background-size: 7%;
        background-position: 18% 41%;
     }

}

